.smarter_blox_unpublished {
  background-color: #ffdddd;
  margin: 0.25em 0;
  border-width: 1px 0 1px 0;
  border-color: #cc0000;
  border-style: solid;
  padding: 0.25em 0;
}

.smarter_blox_unpublished h5 {
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none !important;
  cursor: pointer;
}
.smarter_blox_unpublished h5:hover {
  text-decoration: underline !important;
}

.block-smarter_blox-legend-container {
  display: none;
}

.smarter_blox-editor_cp {
  padding: 0 0.25em 0.25em 0.25em;
}

.smarter_blox-edit {
  float: left;
}

.smarter_blox-toggle_status {
  float: right;
}
